/*Variables*/
/*Mixins*/
/*:::::Import*/
/*Estilo general*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif; }

/*:::::Inicio estilo encabezado*/
/*:::::Nesting*/
nav {
  background: rgba(58, 57, 57, 0.498);
  height: 120px;
  width: 100%;
  border-bottom: 5px solid #ffdd00; }
  nav ul {
    float: right;
    margin-right: 20px;
    /*Operaciones*/ }
    nav ul li {
      display: inline-block;
      line-height: 120px;
      margin: 0 5px; }
      @media screen and (max-width: 768px) {
        nav ul li {
          /*Responsive*/
          display: block;
          margin: 50px 0;
          line-height: 30px; } }
      nav ul li a.active {
        background: #ffdd00;
        transition: .3s; }
        @media screen and (max-width: 768px) {
          nav ul li a.active {
            /*Responsive*/
            background: none;
            color: black; } }
      nav ul li a {
        color: white;
        font-size: 18px;
        /*Operaciones*/
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        text-decoration: none; }
        @media screen and (max-width: 1024px) {
          nav ul li a {
            /*Responsive*/
            font-size: 16px; } }
        @media screen and (max-width: 768px) {
          nav ul li a {
            /*Responsive*/
            font-size: 20px; } }
        nav ul li a:hover {
          background: #ffdd00;
          transition: .3s; }
          @media screen and (max-width: 768px) {
            nav ul li a:hover {
              /*Responsive*/
              background: none;
              color: black; } }

@media screen and (max-width: 768px) {
  .nav-menu {
    /*Responsive*/
    position: absolute;
    width: 100%;
    height: 65vh;
    background: #ffdd00;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .5s; } }

.enlace {
  position: absolute;
  padding: 20px 50px; }
  @media screen and (max-width: 1024px) {
    .enlace {
      /*Responsive*/
      padding-left: 20px;
      /*Operaciones*/ } }

.animate__animated {
  height: 80px;
  width: 240px;
  /*Operaciones*/
  /*Mixin*/ }

.logo {
  height: 80px;
  width: 240px;
  /*Operaciones*/
  /*Mixin*/ }

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 120px;
  margin-right: 120px / 3;
  /*Operaciones*/
  cursor: pointer;
  display: none; }
  @media screen and (max-width: 768px) {
    .checkbtn {
      /*Responsive*/
      display: block;
      padding-right: 20px;
      /*Operaciones*/ } }

#check {
  display: none; }

@media screen and (max-width: 768px) {
  #check:checked ~ .nav-menu {
    /*Responsive*/
    left: 0; } }

/*:::::Fin estilo encabezado*/
/*:::::Inicio estilo contenido*/
section {
  background: url("img/carpinteria4.jpeg") no-repeat;
  background-size: cover;
  background-position: center center; }
  section article {
    text-align: center;
    font-size: 30px;
    color: black;
    padding: 160px;
    line-height: 100px;
    text-transform: uppercase; }
    @media screen and (max-width: 768px) {
      section article {
        /*Responsive*/
        font-size: 25px;
        padding: 180px;
        line-height: 80px;
        display: flex;
        justify-content: none;
        flex-direction: column;
        align-items: center;
        /*Mixin*/ } }

main {
  background: url("img/carpinteria4.jpeg") no-repeat;
  background-size: cover;
  background-position: center center; }
  main article {
    font-size: 20px;
    padding: 20px;
    color: black;
    line-height: 40px;
    /*Operaciones*/ }

@media screen and (max-width: 768px) {
  h2 {
    /*Responsive*/
    text-align: center; } }

p {
  width: 90%;
  padding-left: 20px; }
  @media screen and (max-width: 768px) {
    p {
      /*Responsive*/
      text-align: center; } }

.form-control {
  border: 1px solid black; }

.bord-r {
  background-color: #ffffff60;
  padding: 2em;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 25px; }

.bord-left {
  background-color: #ffffff60;
  padding: 2em;
  border-radius: 4px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black; }
  @media screen and (max-width: 1024px) {
    .bord-left {
      /*Responsive*/
      border-right: 1px solid black;
      border-bottom: none; } }
  @media screen and (max-width: 768px) {
    .bord-left {
      /*Responsive*/
      border-right: 1px solid black;
      border-bottom: none; } }

.bord-right {
  background-color: #ffffff60;
  padding: 2em;
  border-radius: 4px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }
  @media screen and (max-width: 1024px) {
    .bord-right {
      /*Responsive*/
      border-left: 1px solid black;
      border-top: none; } }
  @media screen and (max-width: 768px) {
    .bord-right {
      /*Responsive*/
      border-left: 1px solid black;
      border-top: none; } }

/*:::::Fin estilo contenido*/
/*:::::inicio estilo "servicios"*/
.boxImagenes {
  width: 90vh;
  height: 50vh;
  background-color: white;
  background-size: cover;
  border: 5px ridge #ffdd00;
  animation-name: boxAnimate;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-timing-function: linear; }

/*:::::Animacion*/
@keyframes boxAnimate {
  0% {
    background-image: url(img/titulo.png); }
  10% {
    background-image: url(img/photo2.jpeg); }
  20% {
    background-image: url(img/photo3.jpeg); }
  30% {
    background-image: url(img/photo4.jpeg); }
  40% {
    background-image: url(img/photo1.jpeg); }
  50% {
    background-image: url(img/photo7.jpeg); }
  60% {
    background-image: url(img/photo8.jpeg); }
  70% {
    background-image: url(img/photo9.jpeg); }
  80% {
    background-image: url(img/photo11.jpeg); }
  90% {
    background-image: url(img/photo13.jpeg); }
  100% {
    background-image: url(img/photo5.jpeg); } }

/*:::::Fin estilo "servicios"*/
/*:::::Estilo fotoPerfil "sobremi"*/
.fotoPerfil {
  width: 400px;
  height: 400px; }

/*:::::inicio estilo "trabajos"*/
img {
  width: 300px;
  width: 100%;
  height: 300px;
  /*Operaciones*/
  border: 5px ridge #ffdd00; }

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap; }

.column {
  flex: 25%;
  padding: 5px; }
  @media screen and (max-width: 768px) {
    .column {
      flex: 100%;
      /*Responsive*/ } }
  .column img {
    margin-top: 5px;
    /*Operaciones*/ }

/*:::::fin estilo "trabajos"*/
/*:::::inicio estilo "contacto"*/
legend {
  color: #ffdd00; }

/*:::::fin estilo "contacto"*/
/*:::::Inicio estilo pie de pagina*/
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  border-top: 5px solid #ffdd00; }

/*:::::Nesting*/
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 0px 0px;
  inset-block: center;
  line-height: 20px; }
  @media screen and (max-width: 768px) {
    .pie-pagina .grupo-1 {
      /*Responsive*/
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 0px 0px; } }
  .pie-pagina .grupo-1 .box h3 {
    color: white;
    margin-bottom: 25px;
    font-size: 22px;
    /*Operaciones*/
    text-align: center;
    margin-top: 10px;
    line-height: 10px;
    padding-top: 10px; }
  .pie-pagina .grupo-1 .box p {
    color: white;
    margin-bottom: 10px; }
  .pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    transform: all 300ms ease;
    font-size: 40px;
    text-align: center; }
    .pie-pagina .grupo-1 .red-social a:hover {
      color: #ffdd00; }

.pie-pagina .grupo-2 {
  background-color: rgba(58, 57, 57, 0.498);
  padding: 15px 10px;
  text-align: center;
  color: white; }
  .pie-pagina .grupo-2 small {
    font-size: 15px; }

div .box {
  display: flex;
  justify-content: none;
  flex-direction: column;
  align-items: center;
  /*Mixin*/ }
  div .box p {
    display: flex;
    justify-content: none;
    flex-direction: column;
    align-items: center;
    /*Mixin*/ }

div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
  /*Mixin*/ }

div .flex-box {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
  /*Mixin*/ }

/*:::::Fin estilo pie de pagina*/
