/*:::::Inicio estilo encabezado*/ 
/*:::::Nesting*/
nav{
    background: $colorSecundario;
    height: 120px;
    width: 100%;
    border-bottom: 5px solid $colorPrincipal;
    ul{
        float: right;
        margin-right: 18px + 2; /*Operaciones*/
        li{
            display: inline-block;
            line-height: 120px;
            margin: 0 5px;
            @include mobile{ /*Responsive*/
                display: block;
                margin: 50px 0;
                line-height: 30px;
            }
            a.active{
                background: $colorPrincipal;
                transition: .3s;
                @include mobile{ /*Responsive*/
                    background: none;
                    color: $colorTipografia2;
                }
            }
            a{
                color: $colorTipografia1;
                font-size: 20px - 2; /*Operaciones*/
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
                text-decoration: none;
                @include tablet{ /*Responsive*/
                    font-size: 16px;
                }
                @include mobile{ /*Responsive*/
                    font-size: 20px;
                }
                &:hover{
                    background: $colorPrincipal;
                    transition: .3s;
                    @include mobile{ /*Responsive*/
                        background: none;
                        color: $colorTipografia2;
                    }
                }
            }
        }
    }
}
.nav-menu{
    @include mobile{ /*Responsive*/
    position: absolute;
    width: 100%;
    height: 65vh;
    background: $colorPrincipal;
    top: 120px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
}
.enlace{
    position: absolute;
    padding: 20px 50px;
    @include tablet{ /*Responsive*/
        padding-left: 16px + 4; /*Operaciones*/
    }
}
.animate__animated{
    @include size; /*Mixin*/
}
.logo{
    @include size; /*Mixin*/
}

.checkbtn{
    font-size: 30px;
    color: $colorTipografia1;
    float: right;
    line-height: 120px;
    margin-right: 120px / 3; /*Operaciones*/
    cursor: pointer;
    display: none;
    @include mobile{ /*Responsive*/
        display: block;
    }
}
#check{
    display: none;
}
#check:checked ~ .nav-menu{
    @include mobile{ /*Responsive*/
    left:0;
    }
}
/*:::::Fin estilo encabezado*/