/*Variables*/
$colorPrincipal: rgb(255, 221, 0);
$colorSecundario: rgba(58, 57, 57, 0.498);
$colorTipografia1: white;
$colorTipografia2: black;
$borde1px: 1px solid black;

/*Mixins*/
@mixin size{
    height: 80px;
    width: 80px * 3; /*Operaciones*/
}
@mixin flexContent($justify, $flex, $align){
    display: flex;
    justify-content: $justify;
    flex-direction: $flex;
    align-items: $align;
}
@mixin tablet{
    @media screen and (max-width: 952px){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width: 768px){
        @content;
    }
}
/*:::::Import*/
@import "general";
@import "encabezado";
@import "contenido";
@import "footer";
  