/*Variables*/
$colorPrincipal: rgb(255, 221, 0);
$colorSecundario: rgba(58, 57, 57, 0.498);
$colorTipografia1: white;
$colorTipografia2: black;

/*Mixins*/
@mixin size{
    height: 80px;
    width: 80px * 3; /*Operaciones*/
}
@mixin flexContent($justify, $flex, $align){
    display: flex;
    justify-content: $justify;
    flex-direction: $flex;
    align-items: $align;
}

/*:::::Import*/
@import "general";
@import "encabezado";
@import "contenido";
@import "footer";
@import "responsive";
  